.icon-sized {
    font-size: 32px;
}

.icon-pushable {
    color: blue;
}

.item-spaced {
    display: table-cell;
    margin-left: 4em;
    min-width: 40px;
    vertical-align: middle;
}

.item-row {
    display: table-row;
    min-height: 45px;
}

.item-fixed-bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.unusedAnswer {
    background-color: white;
}
.correctAnswer {
    background-color: #33cd5f;
}
.invalidAnswer {
    background-color: #ffc900;
}

.answer {
    margin:1.2em;
}

.enabledBlue {
    color: #11c1f3 !important;
}

.forecolorRed {
    color: red;
}

.disabledGray {
    color: gray !important;
}

.menuDark {
    color:white!important;
    background-color:darkgray!important;
}

.spaced-left {
    margin-left: 2em;
}

.spaced-right {
    margin-right: 2em;
}

ul.logs, ul.logs li {
    list-style-type:disc!important;
    list-style: disc!important;
}

.logMessage {
    overflow: visible !important;
    font-size: xx-small !important;
    margin-bottom: 0.8em;
}

.font-header {
    font-size: 15px;
    font-weight:600;
}

span.font-header {
    margin-top: -2px;
    margin-bottom: -3px;
}

.techniqueItem {
    display: block;
    margin-top: -4px!important;
    margin-bottom:-4px!important;
}

.font-footer {
    font-size: 8px;
}

.techniqueList a {
    /*padding: 0px !important;*/
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.techniqueList a div {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.ct-point {
    stroke-width:8px;
}
.ct-series-a .ct-line {
    stroke: red;
    stroke-width: 2px !important;
}
.ct-series-b .ct-line {
    stroke: green;
    stroke-width: 2px !important;
}
.ct-series-b .ct-point {
    stroke: green;
}

.ct-area {
    fill-opacity:.7;
    stroke: none;
}
.ct-series-a .ct-area {
    fill: orange;
}

.ct-series-b .ct-area {
    fill: green;
}

.has-footer {
  bottom: 46px; }

.full-width {
  width: 100%;
}

.button.button-icon.input-button {
  position: absolute;
  right: 0;
  top: 5px;
  color: #11c1f3 !important;
}