
.icon-sized {
    font-size: 32px;
}

.icon-pushable {
    color: blue;
}

.item-spaced {
    display: table-cell;
    margin-left: 4em;
    min-width: 40px;
    vertical-align: middle;
}

.item-row {
    display: table-row;
    min-height: 45px;
}

.unusedAnswer {
    background-color: white;
}
.correctAnswer {
    background-color: #33cd5f;
}
.invalidAnswer {
    background-color: #ffc900;
}

.answer {
    margin:0.7em;
}

.enabledBlue {
    color: #11c1f3 !important;
}

.disabledGray {
    color: gray !important;
}