<ion-view view-title="Istoric scor chestionare" cache-view="false">
    <ion-content>
        <div class="card">
            <h2>Glosar</h2>
            <chartist class="ct-chart" chartist-data="AchievementCtrl.ChartData.Dictionary" chartist-chart-type="Line"
                      chartist-chart-options="AchievementCtrl.AreaChartOptions"></chartist>
        </div>
        <p></p>
        <div class="card">
            <h2>Glosar tehnici</h2>
            <chartist class="ct-chart" chartist-data="AchievementCtrl.ChartData.Glossary" chartist-chart-type="Line"
                      chartist-chart-options="AchievementCtrl.AreaChartOptions"></chartist>
        </div>
        <p></p>
        <div class="card">
            <h2>Technici</h2>
            <chartist class="ct-chart" chartist-data="AchievementCtrl.ChartData.Techniques" chartist-chart-type="Line"
                      chartist-chart-options="AchievementCtrl.AreaChartOptions"></chartist>
        </div>
        
    </ion-content>
</ion-view>
