<ion-view view-title="Invata">
    <ion-content>
        <ion-list ng-show="FeatureListCtrl.FailedToLoadFeatures == ''">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="feature in FeatureListCtrl.Features" 
                      type="item-text-wrap" 
                      href="#/app/learn/{{feature.Id}}">
                <h2>{{feature.Id}}. {{feature.Japan}}</h2>
                <p>{{feature.Ro}}</p>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h2 ng-show="FeatureListCtrl.FailedToLoadFeatures != ''">{{FeatureListCtrl.FailedToLoadFeatures}}</h2>
    </ion-content>
</ion-view>
