<ion-view view-title="Invata" >
    <ion-nav-buttons side="right" ng-hide="FeatureListCtrl.FilteredFeatures.length == 0">
        <button class="button button-icon button-clear ion-eye enabledBlue spaced-right"
                ng-click="FeatureListCtrl.UserChecked();"></button>
        <button class="button button-icon button-clear ion-eye-disabled enabledBlue spaced-right"
                ng-click="FeatureListCtrl.UserUnchecked();"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list class="techniqueList" ng-show="FeatureListCtrl.FailedToLoadFeatures == ''">
            <ion-item class="item-remove-animate item-icon-left item-icon-right" 
                      ng-repeat="feature in FeatureListCtrl.FilteredFeatures"
                      type="item-text-wrap"
                      href="#/app/learn/{{feature.Id}}">

                <i class="icon ion-eye{{(feature.ToHide) ? '-disabled':''}} enabledBlue"
                   ng-click="FeatureListCtrl.HideFeature(feature);"
                   onclick="return false;"></i>
                <div class="item-body font-footer">
                    <span class="techniqueItem">{{feature.Book}}</span>
                    <span class="font-header">{{feature.Japan}}</span>
                    <span class="techniqueItem">{{feature.Ro}}</span>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <h2 ng-show="FeatureListCtrl.FailedToLoadFeatures != ''">{{FeatureListCtrl.FailedToLoadFeatures}}</h2>
    </ion-content>
    <div class="bar bar-footer bar-light">
        <div class="item-icon-left"
                  ng-show="FeatureListCtrl.FailedToLoadFeatures == ''">
            <i class="icon {{FeatureListCtrl.FeatureFilter == '' ? 'ion-funnel' : 'ion-backspace-outline enabledBlue'}} input-label"
               ng-click="FeatureListCtrl.ClearFilter();"></i>
            <input type="text"
                   ng-class="{forecolorRed: FeatureListCtrl.FilteredFeatures.length==0}"
                   ng-model="FeatureListCtrl.FeatureFilter"
                   ng-model-options="{ debounce: 1000 }"
                   ng-change="FeatureListCtrl.UpdateFilter()"
                   placeholder="Tasteaza pentru a filtra lista" />
        </div>
    </div>
</ion-view>
