<ion-view view-title="Application log">
    <ion-nav-buttons side="right">
        <div class="nav-bar-my-container">
            <button class="button button-icon button-clear ion-trash-a"
                    ng-click="ErrCtrl.ErrorsService.clearLog()"></button>
        </div>
    </ion-nav-buttons>
    <ion-content>
        <ul class="logs">
            <li class="logMessage" ng-repeat="error in ErrCtrl.ErrorsService.Errors">
                {{::error.message}}</li>
        </ul>
    </ion-content>
</ion-view>