<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div class="card">
                <div class="item item-divider">
                    Activitati:
                </div>
                <ion-list>
                    <ion-item menu-close href="#/app/learn">Invata</ion-item>
                    <ion-item menu-close href="#/app/quizjapanese">Test glosar aikido</ion-item>
                    <ion-item menu-close href="#/app/quizglossary">Test glosar tehnici</ion-item>
                    <ion-item menu-close href="#/app/quiztechniques">Test tehnici</ion-item>
                    <ion-item menu-close href="#/app/achievement">Istoric scor chestionare</ion-item>
                    <ion-item menu-close href="#/app/download">Management fisiere</ion-item>
                    <ion-item menu-close ng-click="MenuCtrl.ExitApp();">Iesire</ion-item>
                </ion-list>
            </div>
            <div class="card">
                <div class="item item-divider" on-hold="MenuCtrl.ShowLogs();">
                    Diverse:
                </div>
                <ion-list>
                    <ion-item menu-close href="#/app/log"
                              ng-show="MenuCtrl.IsLogVisible">Application log</ion-item>
                    <ion-item href="#" onclick="window.open('http://daitoryu.ro', '_system', 'location=yes'); return false;">Scoala <b>Sol Daito</b></ion-item>
                    <ion-item href="#" onclick="window.open('https://www.dropbox.com/s/d983ozfk63ug1en/CerebralHikeApp.apk?dl=1', '_system', 'location=yes'); return false;"
                              class="item-icon-right"
                              >
                        Ultima versiune
                        <i class="icon ion-android-download" ng-show="MenuCtrl.IsUpdateVersionVisible"></i>
                    </ion-item>
                    <ion-item href="#" onclick="window.open('https://github.com/MecuSorin/CerebralHike', '_system', 'location=yes'); return false;">Adresa proiectului</ion-item>
                </ion-list>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
