<ion-view view-title="Teste glosar">
    <ion-nav-buttons side="right">
        <div class="nav-bar-my-container">
            <button class="button button-icon button-clear {{QuizJapaneseCtrl.IsJapanQuestion ? 'ion-ios-chatboxes' : 'ion-ios-chatboxes-outline' }}"
                    ng-click="QuizJapaneseCtrl.IsJapanQuestion = !QuizJapaneseCtrl.IsJapanQuestion;"></button>
            <span>{{QuizJapaneseCtrl.scoreService.CorrectAnswers}} / {{QuizJapaneseCtrl.scoreService.QuestionsAnswered}}</span>
        </div>
    </ion-nav-buttons>
    
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <b>{{QuizJapaneseCtrl.Question}}</b>
            </div>
        </div>
        <ul>
            <li ng-repeat="answer in QuizJapaneseCtrl.Answers"
                class="answer {{answer.UsedClass}}"
                ng-click="QuizJapaneseCtrl.SelectedAnswer(answer)">
                    {{::answer.Text}}
                    <i class="answer-icon" ng-class="::answer.Class" ng-show="answer.WasUsed"></i>
            </li>
        </ul>
    </ion-content>
    
    <ion-footer-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-help enabledBlue spaced-left"
                ng-show="QuizJapaneseCtrl.QuestionWasUsed"
                ng-click="QuizJapaneseCtrl.RevealCorrectAnswer();"></button>
        </div>
        
        <div class="buttons pull-right">
            <a class="button icon-right ion-chevron-right button-calm"
               ng-show="QuizJapaneseCtrl.ShowNextQuestionButtonVisible"
               ng-click="QuizJapaneseCtrl.PrepaireQuestion();">Urmatoarea intrebare</a>
        </div>
    </ion-footer-bar>
</ion-view>
