<ion-view view-title="Teste glosar tehnici">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-chatbubbles"
                ng-class="{enabledBlue: QuizGlossaryCtrl.IsJapanQuestion, disabledGray: !QuizGlossaryCtrl.IsJapanQuestion}"
                ng-click="QuizGlossaryCtrl.IsJapanQuestion = !QuizGlossaryCtrl.IsJapanQuestion;"></button>
        {{QuizGlossaryCtrl.scoreService.CorrectAnswers}}/{{QuizGlossaryCtrl.scoreService.QuestionsAnswered}}
    </ion-nav-buttons>
    
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap item-icon-right">
                <b>{{QuizGlossaryCtrl.Question}}</b>
                <i class="icon ion-play enabledBlue" 
                   ng-click="QuizGlossaryCtrl.PlayClip();"
                   ng-show="QuizGlossaryCtrl.QuestionWasUsed"></i>
            </div>
        </div>
        <ul>
            <li ng-repeat="answer in QuizGlossaryCtrl.Answers"
                class="answer {{answer.UsedClass}}"
                ng-click="QuizGlossaryCtrl.SelectedAnswer(answer)">
                    {{::answer.Text}}
                    <i class="answer-icon" ng-class="::answer.Class" ng-show="answer.WasUsed"></i>
            </li>
        </ul>
    </ion-content>
    
    <ion-footer-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-help enabledBlue spaced-left"
                ng-show="QuizGlossaryCtrl.QuestionWasUsed"
                ng-click="QuizGlossaryCtrl.RevealCorrectAnswer();"></button>
            <button class="button button-icon button-clear ion-eye enabledBlue spaced-left"
                    ng-show="QuizGlossaryCtrl.QuestionWasUsed"
                    ng-click="QuizGlossaryCtrl.NavigateToFeature();"></button>
        </div>
        
        <div class="buttons pull-right">
            <a class="button icon-right ion-chevron-right button-calm"
               ng-show="QuizGlossaryCtrl.ShowNextQuestionButtonVisible"
               ng-click="QuizGlossaryCtrl.PrepaireQuestion();">Urmatoarea intrebare</a>
        </div>
    </ion-footer-bar>
</ion-view>
