<ion-view view-title="Teste glosar">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-chatbubbles"
                ng-class="{enabledBlue: QuizGlossaryCtrl.IsJapanQuestion, disabledGray: !QuizGlossaryCtrl.IsJapanQuestion}"
                ng-click="QuizGlossaryCtrl.IsJapanQuestion = !QuizGlossaryCtrl.IsJapanQuestion;"></button>
        {{QuizGlossaryCtrl.scoreService.CorrectAnswers}}/{{QuizGlossaryCtrl.scoreService.QuestionsAnswered}}
    </ion-nav-buttons>
    
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <b>{{QuizGlossaryCtrl.Question}}</b>
            </div>
        </div>
        <ul>
            <li ng-repeat="answer in QuizGlossaryCtrl.Answers"
                class="answer {{answer.Class}}"
                ng-click="QuizGlossaryCtrl.SelectedAnswer(answer)">{{answer.Text}}</li>
        </ul>
    </ion-content>
    
    <ion-footer-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-help enabledBlue spaced-left"
                ng-show="QuizGlossaryCtrl.QuestionWasUsed"
                ng-click="QuizGlossaryCtrl.RevealCorrectAnswer();"></button>
        </div>
        
        <div class="buttons pull-right">
            <a class="button icon-right ion-chevron-right button-calm"
               ng-show="QuizGlossaryCtrl.ShowNextQuestionButtonVisible"
               ng-click="QuizGlossaryCtrl.PrepaireQuestion();">Urmatoarea intrebare</a>
        </div>
    </ion-footer-bar>
</ion-view>
