<ion-view view-title="Teste glosar">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-chatbubbles"
                ng-class="{enabledBlue: TestGlossaryCtrl.IsJapanQuestion, disabledGray: !TestGlossaryCtrl.IsJapanQuestion}"
                ng-click="TestGlossaryCtrl.IsJapanQuestion = !TestGlossaryCtrl.IsJapanQuestion;"></button>
        {{TestGlossaryCtrl.scoreService.CorrectAnswers}}/{{TestGlossaryCtrl.scoreService.QuestionsAnswered}}
    </ion-nav-buttons>
    
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <b>{{TestGlossaryCtrl.Question}}</b>
            </div>
        </div>
        <ul>
            <li ng-repeat="answer in TestGlossaryCtrl.Answers"
                class="answer {{answer.Class}}"
                ng-click="TestGlossaryCtrl.SelectedAnswer(answer)">{{answer.Text}}</li>
        </ul>
    </ion-content>
    
    <ion-footer-bar class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-help"
                ng-show="TestGlossaryCtrl.QuestionWasUsed"
                ng-click="TestGlossaryCtrl.RevealCorrectAnswer();"></button>
        </div>
        
        <div class="buttons pull-right">
            <a class="button icon-right ion-chevron-right button-calm"
               ng-show="TestGlossaryCtrl.ShowNextQuestionButtonVisible"
               ng-click="TestGlossaryCtrl.PrepaireQuestion();">Urmatoarea intrebare</a>
        </div>
    </ion-footer-bar>
</ion-view>
